.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 10px;
    background: #F9FBFC;
    box-shadow:  4px 4px 8px #999999;
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
    color: gray;
    transition: 0.5s ease;
}

.icon {
    font-size: 2rem;
}

.icon-check--active {
    color: #44A044;
    transition: ease-in 0.4s;
}

.icon-check--active:hover {
    color: #337833;
    transition: ease-in 0.2s;
}

.icon-check--unactive {
    color: #1E1E1E;
}

.icon-delete {
    color: #D63E3E;
    transition: ease-out 0.2s;
}

.icon-delete:hover {
    color: #961616;
}