.addButton {
position: fixed;
bottom: 30px;
right: 30px;
width: 64px;
height: 64px;
border-radius: 50%;
border: none;
align-items: center;
appearance: none;
background-color: #3EB2FD;
background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
background-size: calc(100% + 20px) calc(100% + 20px);
color: #FFFFFF;
cursor: pointer;
font-size: 3rem;
justify-content: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;

transform: rotate(0);
transition: .3s ease;
}

.addButton:active,

.addButton:focus {
outline: none;
}

.addButton:hover {
background-position: -20px -20px;
transform: rotate(180deg);
}

.addButton:focus:not(:active) {
box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}