body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(197,223,248);
  background: linear-gradient(145deg, rgba(197,223,248,1) 20%, rgba(160,191,224,1) 41%, rgba(120,149,203,1) 72%, rgba(74,85,162,1) 100%);
  /* background: #F2F4F5; */
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 50px;
  position: relative;
  min-height: 95vh;
}
